@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto+Slab:wght@100..900&family=Teachers:ital,wght@0,400..800;1,400..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0%;
  margin: 0;
  cursor: default;
}

body::-webkit-scrollbar {
  display: block;
  width: 6px;
  background: #000;
}


body::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom left, #FF5BB3, #f8b303);
  border-radius: 500px;
}
.dropdown::-webkit-scrollbar,.cardcontainer::-webkit-scrollbar {
  display: block;
  width: 6px;
  border-radius: 1000px;
  background: linear-gradient(to bottom left, #FF5BB3, #f8b303);
}


.dropdown::-webkit-scrollbar-thumb,.cardcontainer::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 500px;
}

.bg_button {
  background-image: linear-gradient(to bottom left, #FF5BB3, #f8b303);
}
.bg_button1 {
  background-image: linear-gradient(to bottom left, #f7dc70, #f8b303);
}
.bg_main {
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(127,116,116,0.510329131652661) 54%);
}

.container {
  background-color: white;
  background-image: radial-gradient(#000000 1px, #e5e5f7 1px);
  background-size: 30px 30px;
  width: 100%;
  height: 100%;
  min-height: 100vh;
}
